Repository PokeGuys/nestjs-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, prettier --write, import-sort --write, npm run format, npm run lint

.lintstagedrc.json:

{
  "package.json": ["sort-package-json", "prettier --write"],
  "*.{json,md,yaml,yml}": ["prettier --write"],
  "*.{ts,tsx}": ["import-sort --write", "npm run format", "npm run lint"]
}

chore(deps): lock file maintenance
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update dependency typescript to v4.5.4
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

fix(deps): update dependency mongoose to v6.1.2
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

fix(deps): update dependency class-validator to v0.13.2
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

chore: replace import sort with eslint rule
  .importsortrc.yml
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

style: update eslint import order rule
  .eslintrc.json
  src/common/bootstrap.module.ts
  src/common/exceptions/api.exception.ts
  src/common/exceptions/validation.exception.ts
  src/common/filters/all-exception.filter.ts
  src/common/models/abstract.entity.ts
  src/common/pipes/validation.pipe.ts
  src/common/swagger/index.ts
  src/config/interfaces/app-config.type.ts
  src/config/loader/appConfig.ts
  src/config/loader/databaseConfig.ts
  src/config/loader/httpConfig.ts
  src/config/loader/redisConfig.ts
  src/libraries/firebase-admin/firebase-admin-core.module.ts
  src/libraries/firebase-admin/interfaces/firebase-admin-module-options.interface.ts
  src/libraries/redis/common/redis.util.ts
  src/libraries/redis/redis-core.module.ts
  src/libraries/redis/redis.module.ts
  src/libraries/s3/s3-core.module.ts
  src/libraries/s3/s3.module.ts
  src/main.ts
  src/modules/health/health.module.ts
  src/modules/user/dto/responses/user.dto.ts
  src/modules/user/models/user.entity.ts
Due: prettier --write, import-sort --write, npm run format, npm run lint

fix(deps): update dependency firebase-admin to v10.0.1
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

chore(deps): update definitelytyped
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

chore(deps): update test packages
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

style: update eslint import order rule (#15)
  .eslintrc.json
  src/common/bootstrap.module.ts
  src/common/exceptions/api.exception.ts
  src/common/exceptions/validation.exception.ts
  src/common/filters/all-exception.filter.ts
  src/common/models/abstract.entity.ts
  src/common/pipes/validation.pipe.ts
  src/common/swagger/index.ts
  src/config/interfaces/app-config.type.ts
  src/config/loader/appConfig.ts
  src/config/loader/databaseConfig.ts
  src/config/loader/httpConfig.ts
  src/config/loader/redisConfig.ts
  src/libraries/firebase-admin/firebase-admin-core.module.ts
  src/libraries/firebase-admin/interfaces/firebase-admin-module-options.interface.ts
  src/libraries/redis/common/redis.util.ts
  src/libraries/redis/redis-core.module.ts
  src/libraries/redis/redis.module.ts
  src/libraries/s3/s3-core.module.ts
  src/libraries/s3/s3.module.ts
  src/main.ts
  src/modules/health/health.module.ts
  src/modules/user/dto/responses/user.dto.ts
  src/modules/user/models/user.entity.ts
Due: prettier --write, import-sort --write, npm run format, npm run lint

test: add basic test cases for app
  jest.config.json
  src/common/app.controller.spec.ts
Due: prettier --write, import-sort --write, npm run format, npm run lint

test: add basic test cases for app (#16)
  jest.config.json
  src/common/app.controller.spec.ts
Due: prettier --write, import-sort --write, npm run format, npm run lint

chore(deps): update grokzen/redis-cluster docker tag to v6
  docker-compose.yml
Due: prettier --write

chore(deps): update postgres docker tag to v14
  docker-compose.yml
Due: prettier --write

chore(deps): update dependency lint-staged to v12.1.3
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

chore(deps): update dependency eslint-plugin-promise to v6
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

chore(dep): bump dependency eslint-plugin-promise to v6.0.0
  README.md
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

chore(dep): bump dependency eslint-plugin-promise to v6.0.0 (#21)
  README.md
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

chore(deps): pin dependencies
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

chore(): add dependabot config
  .github/dependabot.yml
Due: prettier --write

chore(): add dependabot config (#22)
  .github/dependabot.yml
Due: prettier --write

chore: add dependencies label to renovate bot
  .renovaterc
Due: none

chore: add dependencies label to renovate bot (#33)
  .renovaterc
Due: none

fix(deps): update dependency fastify-swagger to v4.13.0
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

chore: remove unused file
  src/common/util.ts
Due: import-sort --write, npm run format, npm run lint

feat: add pino logger
  .github/workflow/ci.yml
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/app.ts
  src/common/app.module.ts
  src/common/bootstrap.module.ts
  src/common/constants/logger.constants.ts
  src/common/middleware/access-log.middleware.ts
  src/common/middleware/index.ts
  src/common/middleware/request-id.middleware.ts
  src/common/util/logger.util.ts
  src/config/interfaces/app-config.type.ts
  src/config/loader/appConfig.ts
  src/environment.d.ts
  src/main.ts
  test/jest-e2e.json
  tsconfig.json
Due: sort-package-json, prettier --write, import-sort --write, npm run format, npm run lint

test: fix e2e test case
  test/app.e2e-spec.ts
Due: import-sort --write, npm run format, npm run lint

feat: add pino logger (#38)
  .github/workflow/ci.yml
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/app.ts
  src/common/app.module.ts
  src/common/bootstrap.module.ts
  src/common/constants/logger.constants.ts
  src/common/middleware/access-log.middleware.ts
  src/common/middleware/index.ts
  src/common/middleware/request-id.middleware.ts
  src/common/util.ts
  src/common/util/logger.util.ts
  src/config/interfaces/app-config.type.ts
  src/config/loader/appConfig.ts
  src/environment.d.ts
  src/main.ts
  test/app.e2e-spec.ts
  test/jest-e2e.json
  tsconfig.json
Due: sort-package-json, prettier --write, import-sort --write, npm run format, npm run lint

chore(deps): update dependency @nestjs/testing to v8.2.4
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

fix(ci): typo on github workflow folder
  .github/workflows/ci.yml
Due: prettier --write

ci: duplicate ci job when opening pull request
  .github/workflows/ci.yml
Due: prettier --write
