Repository PokeGuys/nestjs-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, prettier --write, import-sort --write, npm run format, npm run lint

fix(ci): typo on github workflow folder (#53)
  .github/workflows/ci.yml
Due: prettier --write

chore(deps): update rabbitmq docker tag to v3.9.11
  docker-compose.yml
Due: prettier --write

chore(deps): update linters
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

chore(deps): update dependency typescript to v4.5.4
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

fix(pino): remove deprecated prettier option
  package.json
  pnpm-lock.yaml
  src/common/app.module.ts
  src/common/bootstrap.module.ts
  src/common/repositories/index.ts
  src/modules/user/cached-user.respository.ts
Due: sort-package-json, prettier --write, import-sort --write, npm run format, npm run lint

chore(deps): update definitelytyped
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

chore(deps): update node.js to v17
  .docker/Dockerfile
  .docker/Dockerfile.pm2
Due: none

fix: middleware not work when using fastify adater
  package.json
  pnpm-lock.yaml
  test/fastify-middleware.e2e-spec.ts
Due: sort-package-json, prettier --write, import-sort --write, npm run format, npm run lint

ci: add e2e test to workflow
  .github/workflows/ci.yml
  docker-compose.dev.yml
  docker-compose.infra.yml
Due: prettier --write

ci: missing env file for e2e tests
  .env.ci
  .github/workflows/ci.yml
  package.json
Due: sort-package-json, prettier --write

fix: middleware not work when using fastify adater (#67)
  .env.ci
  .github/workflows/ci.yml
  docker-compose.dev.yml
  docker-compose.infra.yml
  package.json
  pnpm-lock.yaml
  test/fastify-middleware.e2e-spec.ts
Due: sort-package-json, prettier --write, import-sort --write, npm run format, npm run lint

fix(deps): update dependency fastify to v3.25.2
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

fix(deps): update dependency pino to v7.6.1
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

fix(deps): update dependency yargs to v17.3.1
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

fix(deps): update dependency @aws-sdk/client-s3 to v3.45.0
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

chore(deps): update dependency lint-staged to v12.1.4
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

chore: disable dependabot
  .github/dependabot.yml
Due: prettier --write

chore: disable dependabot (#83)
  .github/dependabot.yml
Due: prettier --write

fix(deps): update dependency @mikro-orm/core to v4.5.10
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

fix(deps): update dependency @mikro-orm/postgresql to v4.5.10
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

chore(deps): update commitlint monorepo
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

fix(deps): update dependency mongoose to v6.1.4
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

fix(deps): update dependency rxjs to v7.5.1
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

fix(deps): update dependency date-fns to v2.28.0
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

fix(deps): update dependency pino to v7.6.2
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

Path conditions:
  sort-package-json: any of: package.json
  prettier --write: (any of: package.json) or (any of: *.{json,md,yaml,yml})
  import-sort --write: any of: *.{ts,tsx}
  npm run format: any of: *.{ts,tsx}
  npm run lint: any of: *.{ts,tsx}
