Repository PokeGuys/nestjs-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, prettier --write, import-sort --write, npm run format, npm run lint

.lintstagedrc.json:

{
  "package.json": ["sort-package-json", "prettier --write"],
  "*.{json,md,yaml,yml}": ["prettier --write"],
  "*.{ts,tsx}": ["import-sort --write", "npm run format", "npm run lint"]
}

fix(deps): update nestjs packages
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

chore(deps): update dependency opensearchproject/opensearch to v2.0.1
  docker-compose.infra.yml
Due: prettier --write

chore(deps): update dependency opensearchproject/opensearch-dashboards to v2.0.1
  docker-compose.infra.yml
Due: prettier --write

chore(deps): update dependency @types/node to v16.11.41
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

chore(deps): update dependency prettier to v2.7.1
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

chore(deps): update dependency lint-staged to v13.0.2
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

fix(deps): update dependency firebase-admin to v11
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

chore(deps): update dependency @types/jest to v28.1.2
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

chore(deps): update dependency typescript to v4.7.4
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

fix(deps): update dependency mongoose to v6.3.9
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

fix(deps): update dependency @aws-sdk/client-s3 to v3.113.0
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

fix(deps): update dependency mongoose to v6.4.0
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

fix(deps): update dependency @nestjs/terminus to v8.0.8
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

chore(deps): update linters
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

fix(deps): update dependency nestjs-i18n to v9.1.2
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

chore(deps): update dependency @types/jest to v28.1.3
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

fix(deps): update mikro-orm monorepo to v5.2.1
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

chore(dep): bump nestjs-pino version to 3.4.0
  package.json
  pnpm-lock.yaml
  src/common/util/logger.util.ts
Due: sort-package-json, prettier --write, import-sort --write, npm run format, npm run lint

chore(ci): bump actions version to latest
  .github/workflows/ci.yml
Due: prettier --write

chore(docker): replace incorrect package manager
  .docker/Dockerfile
  .dockerignore
  docker-compose.dev.yml
Due: prettier --write
