Repository PokeGuys/nestjs-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, prettier --write, import-sort --write, npm run format, npm run lint

fix(deps): update dependency mongoose to v6.3.3
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

chore(deps): update dependency typescript to v4.6.4
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

chore(deps): update test packages
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

chore(deps): lock file maintenance
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update dependency sort-package-json to v1.57.0
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

chore(deps): update dependency @types/jest to v27.5.1
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

fix(deps): update dependency @aws-sdk/client-s3 to v3.88.0
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

fix(deps): update dependency firebase-admin to v10.2.0
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

fix(deps): update dependency ioredis-mock to v7.4.0
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

fix(deps): update dependency yargs to v17.5.0
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

chore(deps): update dependency husky to v8
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

chore(deps): update dependency tsconfig-paths to v4
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

chore(deps): update pascalgn/automerge-action action to v0.15.3
  .github/workflows/ci.yml
Due: prettier --write

fix(deps): update dependency nestjs-i18n to v9
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

fix: support nestjs-i18n v9
  src/common/bootstrap.module.ts
Due: import-sort --write, npm run format, npm run lint

fix(deps): update dependency ioredis to v5
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

fix: support ioredis v5
  package.json
  pnpm-lock.yaml
  src/config/interfaces/redis-config.type.ts
  src/libraries/redis/interfaces/redis-module-options.interface.ts
Due: sort-package-json, prettier --write, import-sort --write, npm run format, npm run lint

fix(deps): update dependency ioredis-mock to v8
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

fix(deps): update nestjs packages
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

fix(deps): update dependency fastify to v3.29.0
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

Path conditions:
  sort-package-json: any of: package.json
  prettier --write: (any of: package.json) or (any of: *.{json,md,yaml,yml})
  import-sort --write: any of: *.{ts,tsx}
  npm run format: any of: *.{ts,tsx}
  npm run lint: any of: *.{ts,tsx}
