Repository PokeGuys/nestjs-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, prettier --write, import-sort --write, npm run format, npm run lint

fix(deps): update dependency mongoose to v6.2.3
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

chore(deps): update dependency @types/jest to v27.4.1
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

chore(deps): update dependency @nestjs/schematics to v8.0.7
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

fix(deps): update dependency ioredis-mock to v7.0.1
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

chore(deps): update dependency @types/node to v16.11.26
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

fix(deps): update dependency @aws-sdk/client-s3 to v3.53.1
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

chore(deps): update actions/setup-node action to v3
  .github/workflows/ci.yml
Due: prettier --write

chore(deps): update actions/checkout action to v3
  .github/workflows/ci.yml
Due: prettier --write

fix(deps): update dependency ioredis-mock to v7.1.0
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

fix(deps): update nestjs packages
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

Squashed commit of the following:
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

chore(deps): update pnpm/action-setup action to v2.2.1
  .github/workflows/ci.yml
Due: prettier --write

fix(deps): update dependency mongoose to v6.2.4
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

fix(deps): update dependency @mikro-orm/nestjs to v5
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

Merge branch 'renovate/major-mikro-orm-monorepo' into renovate/mikro-orm-nestjs-5.x
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

feat: upgrade mikro orm to v5
  src/common/dto/abstract.dto.ts
  src/common/models/abstract.entity.ts
  src/common/models/entity.interface.ts
  src/common/repositories/abstract-cached.repository.ts
  src/modules/health/indicators/mikroorm.health.ts
  src/modules/user/cached-user.respository.ts
  src/modules/user/interfaces/user.type.ts
  src/modules/user/models/user.entity.ts
Due: import-sort --write, npm run format, npm run lint

style: fix import path
  src/common/bootstrap.module.ts
Due: import-sort --write, npm run format, npm run lint

ci(docker): add opensearch service
  docker-compose.infra.yml
Due: prettier --write

fix(deps): update mikro-orm monorepo to v5
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

chore(deps): update dependency typescript to v4.6.2
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

chore(deps): update dependency ts-node to v10.6.0
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

fix(deps): update dependency fastify-swagger to v4.17.0
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

chore(deps): update dependency @types/yargs to v17.0.9
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

Path conditions:
  sort-package-json: any of: package.json
  prettier --write: (any of: package.json) or (any of: *.{json,md,yaml,yml})
  import-sort --write: any of: *.{ts,tsx}
  npm run format: any of: *.{ts,tsx}
  npm run lint: any of: *.{ts,tsx}
